.list-blog-div {
  line-height: 2rem;
  border-top: 1px solid null;
  display: flex;
  padding: 2rem;
  width: min(90%, 70.5rem);
  color: black;
  flex-basis: 100%;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}
.right-blog-div {
  display: flex;
  flex-direction: column;
  width: 50rem;
  background-color: null;
  text-align: left;
  margin-left: 20px;
}
.image-div {
  background-color: "null";
  display: flex;
  flex-direction: column;
}
.blog-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* don't stretch image */
}
.delete-btn {
  width: 50px;
  border-radius: 10px 10px;
  color: black;
  border: 1px solid black;
  background-color: transparent;
  padding: 0.3rem;
  margin-right: 8px;
}
.delete-btn:hover {
  color: #3c096c;
  border: 1px solid #3c096c;
  background-color: #dec9e9;
}
.header-text {
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 60em) {
  .list-blog-div {
    max-width: 500px;
  }
  .blog-image {
    margin-left: -1rem;
  }
}
