.view-blog-div {
  line-height: 3rem;
  margin-top: 2rem;
  margin: 0 80px 0 80px;
  font-family: "Open Sans", sans-serif;
  background-color: null;
}
@media (max-width: 40em) {
  .view-blog-div {
    line-height: 2rem;
    margin: 0 15px 0 15px;
  }
}
